@inject IOptions<RecaptchaSettings> RecaptchaSettings
@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@model ProxyServer.ViewModels.RegisterViewModel
@{
	ViewData["Title"] = "Register";
	Layout = "/Views/Shared/_LayoutAuth.cshtml";
}

<link rel="stylesheet" href="~/css/registerandLogin.css">
<div class="container mt-4 pb-5" id="register__form">
	<!-- Table -->
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8">
			<div class="card bg-secondary shadow border-0">
				<div class="card-body px-lg-5 py-lg-5">
					<div class="text-center text-muted mb-4">
						<small>Регистрация</small>
					</div>
					<form method="post" asp-controller="Account" asp-action="Register">
						<div asp-validation-summary="ModelOnly" class="text-warning  pb-3 ml-2"></div>
						<div class="form-group">
							<div class="input-group input-group-alternative mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-envelope"></i></span>
								</div>
								<input asp-for="Email" v-model="Email" class="form-control" placeholder="Email" type="email">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group input-group-alternative mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fa fa-user"></i></span>
								</div>
								<input asp-for="FirstName" a v-model="Name" class="form-control" placeholder="Имя" type="text">
							</div>
						</div>
						<div class="text-center">
							<div class="d-inline-flex">
								@Html.Recaptcha(RecaptchaSettings.Value)
							</div>

						</div>

						<div class="row my-4">
							<div class="col-12">
								<div class="custom-control custom-control-alternative custom-checkbox">
									<input asp-for="RememberMe" class="custom-control-input" id="customCheckRegister" type="checkbox">
									<label class="custom-control-label" for="customCheckRegister">
										<span class="text-muted"><a href="#!"></a></span>
										Запомнить меня
									</label>

								</div>
							</div>
						</div>
						<div class="row my-4">
							<div class="col-12">
								<div class="custom-control custom-control-alternative custom-checkbox">
									<input  class="custom-control-input" id="customCheckRegister2" type="checkbox">
									<label class="custom-control-label" for="customCheckRegister2">
										<span class="text-muted"><a href="#!"></a></span>
										Я согласен с <a  asp-action="Politica" asp-controller="Home">политикой конфиденциальности</a>
									</label>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="text-center">
									<button id="sendButton"  type="submit" disabled class="btn btn-primary">Создать аккаунт</button>
								</div>
							</div>
							<div class="col-12">
								<div class="text-center">
									<a asp-action="Auth" asp-controller="Account">Зарегистрированы?</a>
								</div>
							</div>
						</div>
						<div class="text-center">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
<script type="text/javascript">
	$('#customCheckRegister2').on('change', function () {
		if ($(this)[0].checked == true) {
			$('#sendButton').attr('disabled', false);
		}
		else {
			$('#sendButton').attr('disabled', true);
		}
	});

</script>
}
